*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans';
    box-sizing: border-box;
    background-color: #356a72;
    background: linear-gradient(rgba(0, 0, 50, 0.5),rgba(0, 0, 50, 0.5)),url("slider-images-1 (6).jpg");
    background-size: cover;

    
}

.about{
    width: 100%;
    padding: 35px 350px;
    background-color: #19191919;


}

.about img{
    height: auto;
    width: 42px;
    padding: auto;
}

.about-text{
    width: 550px;
} 
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1{
    color: linear-gradient(120deg, #FF0000 20%, rgb(179, 55, 232));
    font-size: 50px;
    font-family: palatino linotype;
    text-transform: capitalize;
    margin-bottom: 20px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.about-text h5{
    color: rgba(253, 225, 228, 0.933);
    font-size: 25px;
    font-family: palatino linotype;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

span{
    color: rgb(179, 55, 232);
}

.about-text p{
    color: rgba(253, 225, 228, 0.933);
    letter-spacing: 1px;
    line-height: 27px;
    font-size: 18px;
    font-family: tahoma;
    margin-bottom: 45px;
}

/* Change the link color on hover */
  li a:hover {
    background-color: #90EE90;
    color: #90EE90;
    margin: -30 auto;
    background:  transparent;
    border: 7px solid colorless;
    transform:scale(1.05);
    box-shadow:2px 2px 5px rgba(0,0,0,0.20), inset 0 0 0 99999px rgba(0,0,0,0.2);

  }
button{
    background: transparent;
    text-decoration: none;
    color: rgba(219, 152, 159, 0.933);
    border: 2px solid transparent;
    font-weight: bold;
    font-family: tahoma;
    padding: 3px 50px;
    border-radius: 30px;
    letter-spacing: 2px;
}

button:hover{
    color: #695e5e;
    cursor: pointer;
    transform:scale(1.05);
    box-shadow:2px 2px 5px rgba(0,0,0,0.20), inset 0 0 0 99999px rgba(0,0,0,0.2);
}

button:hover text {
    color: #fff;
    background-color: #fff;
}
/*brand*/
.our-brand{
    display: flex;
    width: 85%;
    margin: 30px auto;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}
.brand-text{
    width: 40%;
}
.brand-img{
    height: 500px;
    width: 50%;
    box-sizing: border-box;
}
.brand-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.brand-text h3{
    color: #141414;
    font-weight: 700;
    font-size: 2rem;
    margin: 0px;
}
.brand-text h4{
    color: #141414;
    font-weight: 400;
    font-size: 2rem;
    margin: 0px;
}
.brand-text p{
    font-size: 1rem;
    color: #695e5e;
    letter-spacing: 0.5px;
}

@media only screen and (max-width: 600px) {
  /* styles for small screens */
  .container{
    width: 100%;
  }
}

@media only screen and (min-width: 601px) {
  /* styles for large screens */
  .container{
    width: 80%;
  }
}
