body{
    margin: 0;
    padding: 0;
    background: url("signup3-1312486792.jpg");
    background-size: cover;
    font-family: palatino linotype;
    background-color: #356a72;
}

/*navigation bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 70;
    overflow: hidden;
    background-color: transparent;
    border-radius: 10% 10% 10% 10%/50% 50% 50% 50%;
    box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgba(253, 225, 228, 0.933);
    text-align: center;
    padding: 14px 90px;
    text-decoration: none;
    letter-spacing: 5px;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #90EE90;
    color: #00acee;
    background:  transparent;

    
  }

.loginbox{
    width: 970px;
    height: 470px;
    background: #000;
    color: #FFFFFF;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 2px 40px;

}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: relative;
    top: 10px;
    justify-content: center;
    padding-left: 20px -90px;

}

h2{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    font-family: ubuntu;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family:  palatino linotype;
}



.loginbox input[type="text"], input[type="password"], input[type="email"], input[type="phonenumber"],input[type="lastname"],input[type="firstname"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px ;
    font-family: palatino linotype;
}
.btn
{
    border: 2px solid rgb(179, 55, 232);
    outline: none;
    height: 40px;
    background: transparent;
    color:  #90ee90;
    font-size: 18px;
    font-weight: bold;
    font-family: palatino linotype;
    padding: 3px 50px;
    border-radius: 30px;
    margin: 10px;

    
}

.btn:hover
{
    cursor: pointer;
    background: #90ee90;
    color: #141414;
    border: 2px solid transparent;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    font-family: tahoma;
    line-height: 20px;
    color: darkgray;
}

.loginbox a:hover{
    color: #90ee90;
}

@media(max-width:600px){
    .loginbox{
        margin: 20px 10px;
        padding: 10px 20px;
        width:100%;
        text-align: left;
    }
    .loginbox p{
        overflow-wrap: break-word;
        direction: flex;
        flex-direction: column;
        margin: auto;
    }
    .btn{
        margin: 0px 20px;
    }
}